// colors
$greyDark: #151922;
$grey: #383c43;
$greyLight: #b9babd;
$greyLightest: #f8f8f8;

html,
body {
  font-family: "Noto Sans TC", sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: auto;
  background-color: $greyLightest;
}
