.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding-right: 3px;
  padding-left: 3px;
}
.startScreen {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  text-align: center;
  & h1 {
    font-size: 3rem;
    display: flex;
    flex-direction: row;
    color: $grey;
    & div {
      margin-left: 7px;
      color: $greyLight;
      transition-duration: 0.25s;
      transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
      &:hover {
        color: $grey;
        cursor: pointer;
      }
    }
  }
}

.factsList {
  padding: 100px 50px;
  text-align: center;
  color: $grey;
  & h1 {
    font-size: 3rem;
  }
  &__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0;
    text-align: left;
  }
  &__fact {
    padding-right: 40px;
  }
  &__headings {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 40px 0 10px 0;
    font-size: 1.1rem;
    font-weight: 500;
  }
  & nav {
    display: flex;
    justify-content: center;
  }
  & hr {
    border: 0.5px solid $greyLight;
  }
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 20px auto;
  align-items: center;
  color: $grey;
  &__list {
    margin: 5px;
  }
  & .current {
    color: $greyDark;
    font-weight: 700;
    font-size: 1.2rem;
  }
}

.loaderGif {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20%;
  & img {
    width: 20%;
  }
}
